
<li class="custom_nav_button"><%= link_to 'Back', products_path, class: 'btn btn-danger' %></li>

        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div id="not-bootstrap-container">
	<div class="custom_inner_wrapper">
		<h1>Create an Account!</h1>

		<%= render 'user_form' %>
