
<li class="custom_nav_button"><%= link_to 'Back', product_path(@product), class: 'btn btn-danger' %></li>


        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
<div class="not-bootstrap-container">
	<div class="custom_inner_wrapper">
		<h1>Edit Product</h1>

		<h2><%= @product.name %></h2>

		<%= render 'form' %>
		</div>
</div>