<li><%= link_to 'Back', :back, class: 'btn btn-danger' %></li>

        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
<div class="not-bootstrap-container">
	<div class="custom_inner_wrapper">

		<h1>New Product</h1>

		<%= render 'form' %>

	</div>

