
	<% if review.id != nil %>
		<p class="review_container">
		<%= review.comment %> <br>

		  <% if review.user != nil %>
		    <strong><em> by <%= review.user.name %></em></strong>
		    Added on: <%= review.created_at %>
		  <% end %>

		  <%= button_to "Remove", [review.product, review], method: :delete %>
		</p>
	<% end %>

